<div class="container">
    <h1 class="my-5">EDIT STUDENT</h1>
    <form [formGroup]="updatestudent" (ngSubmit)="updateData()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="sname">
          <span *ngIf="updatestudent.controls.sname.status=='INVALID' && updatestudent.controls.sname.dirty " class="error text-danger">Please enter valid name (minimum 3 characters)</span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="semail">
          <span *ngIf="updatestudent.controls.semail.status=='INVALID' && updatestudent.controls.semail.dirty" class="error text-danger">Please enter valid email</span>
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number" class="form-control" formControlName="sage">
            <span *ngIf="updatestudent.controls.sage.status=='INVALID' && updatestudent.controls.sage.dirty" class="error text-danger">Please enter valid Age</span>
        </div>
        <button  type="submit" class="btn btn-success">Update</button>
      </form>
</div>
